{% extends 'base.html' %}
{% load static %}

{% block 'content' %}

    {% if user.is_authenticated %}
<br>
        <div class="container">
            <form action="{% url 'mapping' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-sm-3">
                        <input type="text" name="title" placeholder="Проблема" required><br><br>
                        <input type="text" name="description" placeholder="Описание" required><br><br>
                        <input type="text" name="address" placeholder="Адрес" required>

                        <br><br>
                        <input type="file" name="image1">
                        <br><br>
                        <input type="file" name="image2">
                        <br><br>
                        <input type="file" name="image3">

                        <br><br>
                        <input type="number" name="user_id" value="{{ user.id }}" hidden>

                        <br>
                        <input type="submit" class="btn btn-success" value="Отправить">
                    </div>

                    <div class="col-sm-9">
                        <img src="{% static 'img/map.jpg' %}" alt="" style="width: 800px; height: 400px;">
                    </div>
                </div>

            </form>
        </div>
    {% else %}
        <h1>Register now</h1>
    {% endif %}

{% endblock %}